@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,100;1,300;1,400;1,700&display=swap');

.App {
  text-align: center;
  /* font-family: 'Roboto, sans-serif' !important; */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.login-btn {
  border: none;
  width: 15vw;
}
.climbcard {
  margin: 15px auto !important;
}

.climbcard-content{
  display:flex;
  justify-content: space-evenly;
  align-items: center;
}

.inline {
  display: inline;
}

.back-btn {
  position: absolute;
  left: 10px;
  top: 2vh;
  /* z-index: -1; */
}

.add-route-btn {
  position: absolute;
  right: 10px;
  top: 2vh;
  /* z-index: -1; */
}

.menu-btn {
  position: absolute;
  right: 10px;
  top: 8vh;
  border: none !important;
  /* z-index: -1; */
}

.float-right {
  float: right;
}

.stats {
  display:flex;
  justify-content:space-evenly;
  align-items:center;
  margin: 0;
  width: 100%
}

.route-desc {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 1vh 0;
  text-align: left;
}

.circle {
  border-radius: 50% !important;
  display: flex !important; 
  justify-content: center !important;
  align-items: center !important;
}

.climb-type-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  width: 100%;
  background: rgb(229,0,255);
  background: linear-gradient(169deg, rgba(229,0,255,1) 25%, rgba(64,203,200,1) 65%);
}

.climb-type{
  height:40vh !important;
  width:40vh !important;
  border: 3px solid palevioletred;
  margin: 0 auto;
  color: white;
  padding: 3vh;
  font-size: 3.75rem;
}

.outdoor {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('https://outdoorresearch.com.imgeng.in/media/magefan_blog/_20A0440.jpg');
  background-position: center;
  background-size: 150%;
}
.indoor {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('./images/gym-rock-climbing.jpeg');
  background-position: center;
  background-size: 150%;
}

.route-meta{
  color: gray;
  text-align: left;
  font-size: 0.9em;
}

.page-container {
  width: 80% !important;
  max-width: 600px !important;
  margin: 2vh auto 5vh auto !important;
  border:none !important;
  padding: 0 !important;
  box-shadow: none !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

.five{
  background-color: rgb(25, 194, 81);
}

.six{
  background-color: rgb(93, 194, 25);
}

.seven{
  background-color: rgb(183, 194, 25);
}

.eight{
  background-color: rgb(216, 184, 6);
}

.nine{
  background-color: rgb(216, 160, 6);
}

.ten-minus{
  background-color: rgb(216, 143, 6);
}

.ten{
  background-color: rgb(216, 118, 6);
}

.ten-plus{
  background-color: rgb(216, 108, 6);
}

.eleven-minus{
  background-color: rgb(216, 83, 6);
}

.eleven{
  background-color: rgb(216, 73, 6);
}

.eleven-plus{
  background-color: rgb(216, 52, 6);
}

.twelve-minus{
  background-color: rgb(216, 6, 34);
}

.twelve{
  background-color: rgb(216, 6, 80);
}

.twelve-plus{
  background-color: rgb(216, 6, 136);
}

.thirteen{
  background-color: rgb(216, 6, 216);
}

.fourteen{
  background-color: rgb(157, 6, 216);
}

.fifteen{
  background-color: rgb(6, 167, 216);
}